<sources>
    <programs>
        <default pathversion="1"></default>
    </programs>
    <video>
        <default pathversion="1"></default>
        <source>
            <name>Movies</name>
            <path pathversion="1">{{ htpc_media_path }}/{{ htpc_media_movies }}/</path>
            <allowsharing>true</allowsharing>
        </source>
        <source>
            <name>TV shows</name>
            <path pathversion="1">{{ htpc_media_path }}/{{ htpc_media_tv }}/</path>
            <allowsharing>true</allowsharing>
        </source>
    </video>
    <music>
        <default pathversion="1"></default>
        <source>
            <name>Music</name>
            <path pathversion="1">{{ htpc_media_path }}/{{ htpc_media_music }}/</path>
            <allowsharing>true</allowsharing>
        </source>
    </music>
    <pictures>
        <default pathversion="1"></default>
        <source>
            <name>Pictures</name>
            <path pathversion="1">{{ htpc_media_path }}/{{ htpc_media_pictures }}/</path>
            <allowsharing>true</allowsharing>
        </source>
    </pictures>
    <files>
        <default pathversion="1"></default>
    </files>
</sources>
